* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #797b7f;
}

header {
    background-color: #282c34;
    min-height: max-content;
    padding: 10px;
    text-align: center;
    font-size: calc(10px + 3vmin);
    color: white;
    width: 100%;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#menu input {
    background-color: #d3d3d3;
    font-size: calc(10px + 3vmin);
    padding:  15px;
    border-radius: 10px;
    cursor: cell;
}

#formulario {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
    height: 80vh;
    padding: 30px 15px 20px;
    border-radius: 10px;
    top: 10%;
    background-color: #323232;
    color: white;
}

#calculador {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    max-width: 800px;
    height: 80vh;
    border-radius: 10px;
    top: 10%;
    background-color: #323232;
    color: white;
}

#fecharCalc {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    border-radius: 5px;
    color: white;
    background-color: red;
    cursor: pointer;
}

.visivel {
    cursor: pointer;
}

#calcForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid yellow;
    border-radius: 10px;
    box-shadow: 0px 0px 5px;
    width: 90%;
    height: 70%;
    background-color: #676767;
}

#resultado h2 {
    color: rgb(73, 56, 8);
    font-size: calc(3vh + 3vmin);
    margin: 5% auto 2%;
}

#formasPag {
    font-size: calc(2vh + 2vmin);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;
}

#cartao {
    padding: 5px 10px;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
    background-color: red;
    box-shadow: 0px 0px 10px red;
}

#avista {
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid;
    text-align: center;
    background-color: rgb(1, 98, 1);
    box-shadow: 0px 0px 10px rgb(1, 98, 1);
}

#divNome {
    width: 90%;
}

#inputNome {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
}

#descricao {
    width: 90%;
    height: 400px;
}

#inputDesc {
    font-size: 1.3em;
    width: 100%;
    height: 95%;
    border-radius: 10px;
    padding: 10px;
}

#clients {
    border: none;
    width: 100vw;
    height: max-content;
}

.item {
    display: flex;
    align-items: center;
    width: 90vw;
    max-width: 900px;
}

#cliente {
    width: 100%;
    height: max-content;
    background-color: rgb(74, 74, 77);
    margin: 10px auto;
    border: 2px solid rgb(68, 66, 66);
}

.select {
    height: 20px;
    width: 20px;
    justify-self: right;
    background-color: red;
    color: white;
    cursor: pointer;
}

#nome {
    color: yellow;
    text-indent: 30px;
    font-size: calc(10px + 3vmin);
    border: none;
    width: 90%;
}

#servico {
    color: rgb(255, 254, 254);
    font-size: calc(8px + 3vmin);
    margin: auto;
    width: 80%;
    height: max-content;
    padding: 10px;
    overflow: auto;
    white-space: break-spaces;
}